<p>delete-audi works!</p>


<div class="modal-header">

</div>
<div class="modal-body">
    <h2>this Audi has the following shows still running or planned.</h2>
    <li *ngFor="let show of showsByAudi">
        <h5>Movie: {{show.movie.title}}</h5>
        <span>Time : {{show.time}} {{show.date}}</span>
        <span>Price: {{show.price}}</span>
    </li>

    <h3>You wont be able to schedule future shows if you delete and You'll have to cancel these shows seperately</h3>

    <button class="btn btn-danger" (click)="deleteAudi">Proceed to Delete </button>
</div>
<div class="modal-footer">

</div>