


<div class="card" style="width: 25vw;">
    <!-- <div>{{imgDTO.data}}</div> -->
    <img src="http://localhost:8080/images/{{movie.id}}/1.{{movie.iconContentType[0]}}" class="img-fluid" alt="{{movie.title}}" >
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text"></p>
    </div>
    
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><small class="text-muted">Directed by: </small>{{movie.director}}</li>
            <li class="list-group-item"><small class="text-muted">Cast: </small>{{movie.cast}}</li>
            <li class="list-group-item"><small class="text-muted">Runtime: </small>{{movie.duration}} mins</li>
            <li class="list-group-item"><small class="text-muted">IMDB: </small>&#9733; {{movie.rating}} /10</li>
          </ul> 
    
  </div>