<p>add-audi works!</p>

<div>
    <form novalidate #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        Audi Number: <input type="number" name="number" placeholder="number" ngModel required><br>

        total Capacity: <input type="number" name="totalSeats" placeholder="total number of seats" ngModel required><br>
        <!--seat map input-->
        Rows:<input type="number" #rows> Columns:<input type="number" #columns l><button type='button'
            (click)="createSeatMap(rows.value,columns.value)">Preview</button><br>
        <input type="submit" value="add Audi"><br>
    </form>
    <div>
    <div>{{message}}</div>
    </div>
</div>
<br><br>
<div>
    <div>
        <span style="white-space: nowrap;" *ngFor="let seat of seatMap;let i = index;let last = last">
            <button style='margin-right:16px'>
                {{seat.rowNumber}} {{seat.colNumber}}
            </button>
            <!--code for lane in between. couldn't figure it out. its 9:02 ffs-->
            <!-- <span *ngIf="(i+1)== (columns.value/2) || (i+1) == (columns.value/2*i%rows.value) 
                || (i+1) ==(columns.value/2 -0.5) || (i+1) == (columns.value/2 + columns - 0.5) "> -->
            <!-- <span *ngIf="((i+1)%(column.value) === ((columns.value)%2) "> -->
            <!-- <span style="display:inline-block; width: 10px;"></span>
            </span> -->

            <span style="white-space: nowrap;" *ngIf="!last">

                <div *ngIf="seatMap[i+1].colNumber == 'A'">
                    <br>
                </div>

            </span>
        </span>
    </div>
</div>