<div class="modal-header">
    <h1 class="modal-title">Add Auditorium</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()" aria-label="Close"></button>
</div>
<div class="modal-body mx-auto">
    <div>
        <form novalidate #myform="ngForm" (ngSubmit)="onSubmit(myform)">
            <div class="mb-3">
                <label class="form-label ">Audi Number</label>
                <input class="form-control" type="number" [(ngModel)]="audi.number" name="number" placeholder="number"
                    ngModel required>
            </div>
            <!--seat map input-->
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <input class="form-control" placeholder="Columns" type="number" #rows required>
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Rows" type="number" #columns required>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
                            (click)="createSeatMap(rows.value,columns.value)" data-toggle="modal">Preview</button><br>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="add Audi"><br>
        </form>
        <div>
            {{message}}
        </div>
    </div>
</div>


<div class="modal " data-bs-backdrop="static" id="myModal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <legend class="modal-title">Seat Map</legend>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
                <div>
                    <div style="text-align: center; margin-top: 3vh;margin-bottom: 3vh;">
                        <legend> Screen this side </legend>
                    </div>
                    <div class="container-fluid">
                        <span style="white-space: nowrap;" *ngFor="let seat of seatMap;let i = index;let last = last">

                            <span style="white-space: nowrap;" *ngIf="!last">
                                <button class="seat" id="seat-{{i}}"
                                    *ngIf="seatMap[i].rowNumber !== seatMap[i+1].rowNumber"
                                    [disabled]="seatMap[i].isBooked" value={{i}} (click)="addSeat(seatID.value)"
                                    #seatID>
                                </button>
                                <span style="white-space: nowrap;"
                                    *ngIf="seatMap[i].rowNumber === seatMap[i+1].rowNumber">
                                    <span style="padding-left:40px"></span>
                                </span>
                                <span style="white-space: nowrap;" *ngIf="!last">
                                    <div *ngIf="seatMap[i].rowNumber == rows.value;">
                                        <span class="br"></span>
                                    </div>
                                </span>
                            </span>
                                <button class="seat" id="seat-{{i}}" *ngIf="last" [disabled]="seatMap[i].isBooked" value={{i}} (click)="addSeat(seatID.value)"
                                #seatID></button>

                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: left;">
            </div>
        </div>
    </div>
</div>