
    <form novalidate #myform ngForm (ngSubmit) = "onSubmit(myform.value)">
       <input type="text" class="form-control" name="name" placeholder="Name" ngModel required>
		
        <input  type = "email" class="form-control" name = "email" placeholder="Email" #email="ngModel" ngModel required email="true">
       
        <input type = "number" class="form-control" name = "phone_no" placeholder="Phone Number" ngModel required>
        
          <input  type = "password" class="form-control"  name = "password" placeholder="Password" #pass ngModel required>
       
        <input type = "password" class="form-control" name = "confirmPassword" placeholder="Confirm Password" #confirmPass required>
       
        <div *ngIf = "!email.valid && (email.dirty || email.touched)">
            <div *ngIf = "email.errors.email">
                Invalid Email
            </div>
        </div>  
        <div *ngIf = "pass.value != confirmPass.value">
                Passwords don't match
        </div>  
             
		<div class="form-group">
            <button type = "submit" class="btn btn-primary btn-lg" value = "register" [disabled] = "!myform.valid">Sign Up</button>
        </div>
    </form>
    {{message}}

	<div class="hint-text">Already have an account? <a href="#">Login here</a></div>
