
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="mb-4 lead">
                    <img class="rounded mx-auto" src="../../../assets/oops-image/oops.png">
                    
                </div>
                <button class="btn btn-lg btn-dark" > <a [routerLink] = "'//'" style="color : white" class="nounderline" > Back to Home </a></button>
                
               
           
            </div>
        </div>
    </div>
</div>
book