
<div class="modal-header">
    <legend class="modal-title">Cancel Show?</legend>
    <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <label>Are you sure you want to cancel the show, the corresponding tickets will be automatically canceled</label>
    <div style="overflow: scroll;height: 60vh;">
        <div class="card" *ngFor="let ticket of show.tickets">
            <div class="card-body" >
                <h5>User: {{ticket.user.name}} | Seats: {{ticket.seats}} | Total Amount: {{ticket.amount}} | Time : {{ticket.time}} on {{ticket.date}}</h5>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="cancelShow()">Yes, Cancel!</button>
</div>
<div class="modal-footer">

</div>