<div class="container"> 
    
    <form class="form-control form-control-lg form-horizontal" novalidate #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        
        <div class="col-md-4" style="max-width: 50%;">
            <label for="username">Name</label>
            <input id="username" class="form-control form-control-lg margin-bottom" type="text" [(ngModel)]="user.name" name="name" placeholder="abc"
                ngModel required>
        </div>
        <div class="col-md-4" style="max-width: 50%;">
            <label for="email">Email</label>
            <input id="email" class="form-control form-control-lg margin-bottom" disabled=true [(ngModel)]="user.email" type="text" name="email"
                placeholder="abc@xyz.com" #email ngModel required email="true">
        </div>
        <div class="col-md-4" style="max-width: 50%;"> 
            <label for="password">Password</label>
            <input id="password" class="form-control form-control-lg margin-bottom" disabled=true [(ngModel)]="user.password" type="password"
                name="password" placeholder="*******" ngModel required>
        </div>
        <div class="col-md-4" style="max-width: 50%;">
            <label for="phoneNo">Phone No</label>
            <input id="phoneNo" class="form-control form-control-lg margin-bottom" type="number" [(ngModel)]="user.phoneNo" name="phone_no" placeholder="9999999999" ngModel
            required>
        </div>
        <button class="btn btn-dark m-3" type="submit" class="btn btn-dark ">Update</button>
    
    <button class="btn btn-dark m-3" (click)="changePassword">Change password</button>
    <button class="btn btn-danger m-3" (click)="deleteUser()">Delete</button>
    <br>
    <button class="btn btn-primary" (click)="getTickets()">Tickets</button>

</form>
</div>


