<p>user-dashboard works!</p>
<div>
    <form novalidate #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
        Name: <input type = "text" [(ngModel)] = "user.name" name = "name" placeholder="Name" ngModel required><br>
        password: <input disabled = true [(ngModel)] = "user.password" type = "password" name = "password" placeholder="password" ngModel required><br>
        Email: <input disabled = true [(ngModel)] = "user.email" type = "text" name = "email" placeholder="email" #email ngModel required email="true"> <br>
        Phone no: <input type = "number" [(ngModel)] = "user.phoneNo" name = "phone_no" placeholder="phone number" ngModel required><br>
        <input type = "submit"  value = "submit" ><br>
    </form>
        <button (click)="changePassword">Change password</button><br>
        <button (click)="deleteUser()">delete</button>
</div>