<p>login works!</p>
<div>
    <form novalidate #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
        Email: <input  type = "email" name = "email" placeholder="email" #email="ngModel" ngModel required email="true"> <br>
        password: <input type = "password" name = "password" placeholder="password" [(ngModel)]="password" required><br>
        isTheatre: <input type = "checkbox" name = "isTheatre" checked="false" [(ngModel)]="isTheatreAdmin">
        <div *ngIf = "!email.valid && (email.dirty || email.touched)">
            <div *ngIf = "email.errors.email">
                Invalid Email
            </div>
        </div>  
        <div>{{message}}</div>
        <input type = "submit"  value = "Login" [disabled] = "!myform.valid"><br>
    </form>
    <!--<a [routerLink] = "'/registerUser/'"> </a>-->
    <!--<a [routerLink] = "'/registerTheatre/'"></a>-->
</div>
