    
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="3"></li>
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" >
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../../assets/dummy-pics/deja-vu-1920×1080.jpg" class="d-block w-100" alt="..." >
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/dummy-pics/galaxy-2-1920×1080.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/dummy-pics/great-wall-of-namib-1920×1080.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/dummy-pics/in-the-early-morning-of-forest-1920×1080.jpg" class="d-block w-100"
                alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/dummy-pics/into-the-spiderverse-screenshot-credit-to-usyedaabid20-1920×1080.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>