

.showtimes-details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
}
.listing-info {
    width: 28%;
    min-width: 250px;
    font-size: 10px;
    color: #999;
}